@{
    ViewData["Title"] = "Home Page";
}
@model Domain.Entity.Team

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<p>@Model.Description</p>
<p>@Model.Name</p>
