@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-4">Team Lobby</h1>
    @if (User.Identity.IsAuthenticated)
    {
        <p>Приветствуем на сайте</p>
    }
    @if (!User.Identity.IsAuthenticated)
    {
        <p>Please enter to account.</p>
    }
</div>

